<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ForumConfiguration" type="Forum4Programmers.TrayApp.Configuration.ForumConfigurationSection, Forum4Programmers.TrayApp" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="UserName" value=""/>
  </appSettings>
  <ForumConfiguration>
    <Forums>
      <Forum id="2"  name="C/C++" enabled="false" />
      <Forum id="24" name="C# i .NET" enabled="true" />
      <Forum id="25" name="Java" enabled="false" />
      <Forum id="51" name="Python" enabled="false" />
      <Forum id="35" name="PHP" enabled="false" />
      <Forum id="52" name="JavaScript" enabled="true" />
      <Forum id="3"  name="Webmastering" enabled="false" />
      <Forum id="53" name="Mobilne" enabled="false" />
      <Forum id="1"  name="Delphi i Pascal" enabled="false" />
      <Forum id="4"  name="Inn języki programowania" enabled="false" />
      <Forum id="27" name="Bazy danych" enabled="false" />
      <Forum id="56" name="Embedded" enabled="false" />
      <Forum id="6"  name="Algorytmy i struktury danych" enabled="false" />
      <Forum id="26" name="Inżynieria oprogramowania" enabled="false" />
      <Forum id="42" name="Nietuzinkowe tematy" enabled="false" />
      <Forum id="36" name="Oceny i recenzje" enabled="false" />
      <Forum id="40" name="Edukacja" enabled="false" />
      <Forum id="41" name="Kariera" enabled="false" />
    </Forums>
  </ForumConfiguration>
</configuration>